@import url("https://fonts.googleapis.com/css?family=Lato:300,700");
@import url("https://fonts.googleapis.com/css?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Merriweather");

* {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 13px;
  --cg-red: #b3121f;
}

html,
body,
app {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
